Checks:
  portability-*,
  performance-*,
    -performance-no-int-to-ptr,
  readability-*,
    -readability-identifier-*,
    -readability-braces-*,
    -readability-isolate-declaration,
    -readability-magic-numbers,
    -readability-function-cognitive-complexity,
    -readability-uppercase-*,
  bugprone-*,
    -bugprone-easily-swappable-parameters,
    -bugprone-lambda-function-name,
  clang-analyzer-*,
  cppcoreguidelines-*,
    -cppcoreguidelines-macro-usage,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-no-malloc,
    -cppcoreguidelines-avoid-*,
    -cppcoreguidelines-pro-type-*,
    -cppcoreguidelines-pro-bounds-*,
    -cppcoreguidelines-non-private-member-variables-in-classes
    