Checks:
  portability-*,
  performance-*,
    -performance-no-int-to-ptr,
  readability-*,
    -readability-identifier-*,
    -readability-braces-*,
    -readability-isolate-declaration,
    -readability-magic-numbers,
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-no-malloc,
    -cppcoreguidelines-avoid-*,
    -cppcoreguidelines-pro-type-*,
    -cppcoreguidelines-pro-bounds-*