---
BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Always
ColumnLimit: 120
---
Language: Cpp
UseCRLF: true
DeriveLineEnding: false
DerivePointerAlignment: false
PointerAlignment: Left
AlignAfterOpenBracket: AlwaysBreak
Cpp11BracedListStyle: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: false
  AfterStruct: false
  AfterClass: false
  AfterUnion: false
  AfterExternBlock: false
  AfterCaseLabel: false
  AfterFunction: false
  AfterNamespace: false
  AfterControlStatement: Never
  BeforeElse: false
  #BeforeWhile: false
  #BeforeLambdaBody: false
  BeforeCatch: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
  IndentBraces: false
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
BreakStringLiterals: true
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
FixNamespaceComments: true
IndentCaseLabels: true
#IndentExternBlock: true
IndentGotoLabels: true
IndentPPDirectives: BeforeHash
IndentWrappedFunctionNames: false
#InsertTrailingCommas: None
NamespaceIndentation: All
SortUsingDeclarations: true
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeInheritanceColon: false
SpaceBeforeCtorInitializerColon: false
SpaceBeforeRangeBasedForLoopColon: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
AlwaysBreakTemplateDeclarations: Yes
AlwaysBreakAfterReturnType: None
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AlignTrailingComments: false
AlignConsecutiveMacros: false
AllowAllArgumentsOnNextLine: true