*build*
cachegrind*
valgrind*
artifact*
*pycache*
!include/gaia/ecs/query_builder_typed.inl
!vm/**/build_*.sh
!vm/**/build.sh
*.bin
*.db
ninja
out
tmp
.DS_Store
.vs
.cache
CMakeCache.txt
CMakeSettings.json
CMakeFiles
CMakeUserPresets.json
