*build*
!include/gaia/ecs/query_builder_typed.inl
!vm/**/build_*.sh
!vm/**/build.sh
*.bin
*.db
ninja
out
cachegrind*
valgrind*
tmp
*pycache*
.vs
.cache
CMakeCache.txt
CMakeSettings.json
CMakeFiles
CMakeUserPresets.json
.DS_Store
